* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: black;
}

.box {
    width: 400px;
    height: 570px;
    background-color: dodgerblue;
    margin: auto;
    margin-top: 40px;
    border-radius: 300px 300px 0 0 ;
    padding-top: 200px;
    position: relative;

}

.step {
    width: 150px;
    height: 70px;
    background-color: black;
    position: absolute;
    right: 0
}

.step2 {
    margin-top: 100px;
    width: 200px;
    height: 70px;
    background-color: black;
    position: absolute;
    right: 0
}

.step3 {
    margin-top: 200px;
    width: 250px;
    height: 70px;
    background-color: black;
    position: absolute;
    right: 0
}

.step4 {
    margin-top: 300px;
    width: 300px;
    height: 70px;
    background-color: black;
    position: absolute;
    right: 0
}