* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.box {
    width: 300px;
    height: 300px;
    background-color: #f00;
    margin: auto;

    position: relative;
}

.box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background-color: blue;
}

.box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 70px;
    width: 80px;
    height: 80px;
    background: gold;
}

.photo {
    width: 300px;
    height: 300px;
    background: url(./IMG_20220618_202511_139.jpg) no-repeat center/cover;
    margin: 30px auto;

    position: relative;
}

.photo::before {
    content: "John Doe";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(0);
    transform-origin: left;

    width: 180px;
    height: 60px;
    background-color: rgb(74, 71, 74);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.photo:hover::before {
    transform: translate(-50%, -50%) scaleX(1);
}

.banner {
    width: 100%;
    height: 500px;
    background: url(./IMG_20220618_202511_139.jpg) no-repeat center/cover fixed;

    position: relative;
    overflow: hidden;
    font-size: 20px;
    padding-top: 90px;
}

.banner::before {
    content: "";
    position: absolute;
    top: -30%;
    left: -10%;
    width: 60%;
    height: 150%;
    background-color: #fff;
    transform: rotate(15deg);
}

.banner__text {
    position: relative;
    padding: 50px 10%;
    width: 50%;
}

.card {
    width: 300px;
    height: 300px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: #42425e54;
    transition: .5s;
}

.card::after {
   content: "";
   position: absolute;
   right: -50%;
   width: 50%;
   height: 100%;
   background-color: #42425e54;
   transition: .5s;
}

.card:hover::after {
    right: 0;
}

.card:hover::before {  
   left: 0;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





